/**
 * author :jiangfengs
 * date :2012-10-16
 * action:osa-upload
 */
.osa_upload{
	background: none repeat scroll 0 0 #DDDDDD;
    border: 1px solid #97C2E3;
    margin: 10px auto;
    overflow: hidden;
	padding:10px;
	width:600px;
	font-family: songti;
    font-size: 12px;
	position:absolute;
}
.osa_upload_title{
	background: none repeat scroll 0 0 #3E8BE3;
	padding:4px 4px 2px;
	color: #FFFFFF;
	height:32px;
}
.osa_upload_text{
	display: block;
    float: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 29px;
    text-indent: 10px;
}
.osa_upload_close{
	background: url("../images/buttonall.jpg") no-repeat scroll -147px -308px transparent;
    border: medium none;
    cursor: pointer;
    float: right;
    height: 19px;
    width: 29px;
}
.osa_upload_close:hover{
	background: url("../images/buttonall.jpg") no-repeat scroll -147px -336px transparent;
}
.osa_upload_body{
	background: none repeat scroll 0 0 #F2F7FC;
	height: auto;
    overflow: hidden;
    padding: 10px 0px;
}
.upload_left{
	float:left;
}
.green_a{
	color:#FFFFFF;
	cursor: pointer;
}
.gray_a{
	color:#6E6E6E;
	cursor: pointer;
}
.body_header_lgreen{
	background: url("../images/icon.gif") no-repeat scroll 0 -303px transparent;
    display: inline-block;
    float: left;
    height: 24px;
    line-height: 24px;
    margin: 0;
    padding: 1px 10px 0 15px;
    width: auto;
}
.body_header_rgreen{
	background: url("../images/icon.gif") no-repeat scroll 0 -328px transparent;
    display: inline-block;
    float: left;
    height: 24px;
    padding: 0 0 0 5px;
    width: 4px;
}
.body_header_lgray{
	background: url("../images/icon.gif") no-repeat scroll 0 -354px transparent;
    float: left;
    height: 24px;
    line-height: 24px;
    margin: 0;
    padding: 1px 10px 0 15px;
    width: auto;
}
.body_header_rgray{
	background: url("../images/icon.gif") no-repeat scroll 0 -379px transparent;
    float: left;
    height: 24px;
    padding: 0 0 0 5px;
    width: 4px;
}
.body_header{
	padding:2px 20px; 
}
.upload_flash{
	background-color: #FFFFFF;
    border: 1px solid #2F80AF;
    height: 185px;
    margin: 6px 20px;
    overflow-y: auto;
    padding-top: 3px;
    width: 560px;
	
}
#divStatus{
	display: none;
    padding: 3px;
	margin: 6px 20px;
}
.upload_right{
	float:right;
}
.body_footer{
	background: none repeat scroll 0 0 #F2F7FC;
	height: auto;
	text-align: left;
	padding:0 20px;
}
.confirm{
	background: url("../images/buttonall.jpg") no-repeat scroll 0 -4px transparent;
    color: #FFFFFF;
}
.confirm:hover{
	background: url("../images/buttonall.jpg") no-repeat scroll 0 -35px transparent;
}
.cancel{
	background: url("../images/buttonall.jpg") no-repeat scroll -70px -4px transparent;
    color: #2C4787;
}
.cancel:hover{
	background: url("../images/buttonall.jpg") no-repeat scroll -70px -35px transparent;
}
.upload_button{
    border: medium none;
    cursor: pointer;
    height: 31px;
    line-height: 31px;
    margin-left: 8px;
    text-align: center;
	width:60px;
	margin-right: 10px;
    margin-top: 10px;
}
.upload_line{
	background: none repeat scroll 0 0 #F2F7FC;
	height:1px;
	border-bottom:1px #E8E8E8 solid;
	width:100%;
}
/***************************upload status ****************************/
#btnCancel{cursor:pointer;margin-left:10px;width:85px;height:23px;border:none;background:url(../images/swfupload_cancelall_85x23.png) no-repeat;}

.progressWrapper {/*width: 380px;*/overflow: hidden;}
.progressContainer {margin: 0 5px 5px 5px;padding:4px;border: solid 1px #E8E8E8;background-color: #F7F7F7;overflow: hidden;}
/* Message */
.message {margin: 1em 0;padding: 10px 20px;border: solid 1px #FFDD99;background-color: #FFFFCC;overflow: hidden;}
/* Error */
#osa_upload_body .red {border: solid 1px #B50000;background-color: #FFEBEB;}
/* Current */
#osa_upload_body .green {border: solid 1px #DDF0DD;background-color: #EBFFEB;}
/* Complete */
#osa_upload_body .blue {border: solid 1px #CEE2F2;background-color: #F0F5FF;}
.progressName {font-size: 8pt;font-weight: 700;color: #555;/*width: 323px;*/height: 14px;text-align: left;white-space: nowrap;overflow: hidden;}
.progressBarInProgress,
.progressBarComplete,
.progressBarError {font-size: 0;width: 0%;height: 2px;background-color: blue;margin-top: 2px;}
.progressBarInProgress{height:10px;background-color:'';background:url(../images/swfupload_bar.png) repeat-x;}
.progressBarComplete {width: 100%;background-color: green;visibility: hidden;}
.progressBarError {width: 100%;background-color: red;visibility: hidden;}
.progressBarStatus {margin-top: 2px;/*width: 307px;*/font-size: 7pt;font-family: Arial;text-align: left;white-space: nowrap;}
a.progressCancel {float: right;font-size: 0;display: block;height: 14px;width: 14px;background-image:url(../images/cancelbutton.gif);
	background-repeat: no-repeat;background-position: -14px 0px;
}
a.progressCancel:hover {background-position: 0px 0px;}
/*my code here*/
.progressPercentage{float:right;margin-top:-15px;margin-right:24px;*margin-right:12px;}
.progressPercentage_ing{float:right;margin-top:-15px;margin-right:24px;*margin-right:12px;}
.myComplete{float:right;margin-top:-15px;width:18px;height:15px;}
.myCompleted{float:right;margin-top:-15px;width:18px;height:15px;background:url(../images/alert_win_complete.png) no-repeat;}
/*my code here*/
/* -- SWFUpload Object Styles ------------------------------- */
.swfupload {vertical-align: top; cursor: pointer;}

#divLoadingContent{
	position:absolute;left:40px;top:100px;width:500px;height:200px;display: none;
}
#divLongLoading{
	position:absolute;left:40px;top:100px;width:500px;height:200px;display: none;
}
#divAlternateContent{
	position:absolute;left:40px;top:100px;width:500px;height:200px;display: none;
}